.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #576574;
    color: #222f3e;
    position:fixed;
    bottom: 0;

    width: 90%;
    padding: 1% 5% 1% 5% ;
    
}
