.titulo{

    margin-bottom: 50px ;
    color: #10ac84;
    text-align:left;
   
}

.cadBody{
    display: flex;
    flex-direction: row;
    color:rgb(184, 184, 184); 
}

.inputCombo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: baseline;
    width: 100%;

    
}

.inputCombo input,select{

    border: 0 ;
    background: #576574;
    border-radius: 5px;
    color: #222f3e;
    font-size: 16px;
    font-weight: bold;
    
    padding-left: 10px;

    width: 300px;
    height: 30px;


}

.inputCombo option{
    
    font-weight: bold;

}

.inputCombo select{
    
    width: 100%;


}

.formContainer{
    padding: 30px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #576574;

    
    
}

.formContainer button{
    margin: 20px;
    padding: 10px;
    width: 100%;
    border: 0;
    background-color: #1dd1a1;
    border-color: #1dd1a1;
    border-radius: 8px;
    color: #222f3e;

    font-size: 18px;
    font-weight: bold;



}

.formContainer button:hover{
    background:#10ac84;
    border-radius: 8px;
    color: #222f3e;

}

.dataContainer{
    width: 100%;
}

.dataContainer tr{
    width: 100%;
    display: flex;
    justify-content: space-around;


}

.thHidden{
    visibility: hidden;
}

.dataSpace{
    width: 100%;
    margin-top: 50px;
}

.dataSpace th{
    padding-right: 20px;
    font-size: 14px;
}

.dataSpace td{
    padding-right: 20px;
    font-size: 12px;
}

.dataSpace button{
    margin: 10px;
    padding: 5px 2px;
    width: 100%;
    border: solid 2px;
    background-color: #576574;
    border-color: #576574;
    border-radius: 8px;
    color: #222f3e;

    font-size: 12px;
    font-weight: bold;

}

.dataSpace button:hover{
    background:transparent;
    border-radius: 8px;
    color: #576574;

}


