
.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: #1dd1a1;
    color: white;
    justify-content: space-between;

}

.imgcontainer{
    margin-left: 50px;
}

.imgcontainer img{
    width: 250px;
    height: 75px;

}

.navbar{
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
    align-items: center ;
}

.navbar li{
    margin-left: 20px;
    color: #222f3e;

    font-size: 18px;
    font-weight: bold;
    
    
}